{% extends "christmasApp/base.html" %} 
{% load static %} 
{% block content %}


    <!-- Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url('/static/christmasApp/img/bg/page-banner.jpg')">
        <div class="container">
            <div class="row">
                
                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>Login</h1>
                </div><!-- Page Title End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End-->


<section class="register">

    <div class="reg">
        <h2>Login</h2>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
        <p class="para">Don't have an account😁! <a href="{% url 'register' %}">Sign Up</a></p>
    </div>

</section>


{% endblock %}