{% extends "christmasApp/base.html" %}
{% load static %}
{% block content %}




    <!-- Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url('/static/christmasApp/img/bg/page-banner.jpg')">
      <div class="container">
          <div class="row">
              
              <!-- Page Title Start -->
              <div class="page-title text-center col">
                  <h1>Register</h1>
              </div><!-- Page Title End -->
              
          </div>
      </div>
  </div><!-- Page Banner Section End-->

<!-- <section class="register py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-lg border-0">
            <div class="card-body">
              <h2 class="text-center mb-4">Register</h2>
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
              </form>
              <p class="text-center mt-3">
                Already have an account? 😁 <a href="{% url 'login' %}" class="text-decoration-none">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->



<section class="register">

  <div class="reg">
      <h2>Register</h2>
      <div class="form">
          <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Sign Up</button>
          </form>
      </div>
      <p class="para">Already have an account😁! <a href="{% url 'login' %}">login</a></p>
  </div>


</section>



{% endblock %}